<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>DEMO</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="divContainer">
        <div class="divLeft">
            <div style="text-align: center;">
                <img class="sotree" src="/img/SoTree.png" alt="SoTree17"/>
            </div>
            <form class="form-main" action="/requestQR" method="post">
                <div>
                    <div class="item">
                        <p class="item-p">Auth URL</p>
                        <input class="input-main" type="text" name="authUrl" />
                    </div>
                    <div class="item">
                        <p class="item-p">Data</p>
                        <input class="input-main" type="text" name="data" />
                    </div>
                    <div class="item">
                        <p class="item-p">Crypto Method</p>
                        <input class="input-main" type="number" name="c_index" />
                    </div>
                    <div class="item">
                        <p class="item-p">Width</p>
                        <input class="input-main" type="number" name="width" />
                    </div>
                    <div class="item">
                        <p class="item-p">Height</p>
                        <input class="input-main" type="number" name="height" />
                    </div>
                </div>
                <div style="text-align: center;">
                    <input class="button-main" type='submit' value='QR 코드 생성'>
                </div>
            </form>
        </div>
        <div class="divRight">
            <div style="text-align: center;">
                <img id="qr-img" src="/img/secureQR_image.png" onError="this.src='/img/no-image.png'">
            </div>
            QR Data
            <div>
                <textarea id="qr-data" readonly>
{
}
                </textarea>
            </div>
        </div>
    </div>
</body>
</html>