<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DEMO</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="divContainer">
        <div class="divLeft">
            <div style="text-align: center;">
                <img class="sotree" src="/img/SoTree.png" alt="SoTree17" />
            </div>
            <form class="form-main" name="QrForm" action="/requestQR" method="post">
                <div>
                    <div class="item">
                        <p class="item-p">Auth URL</p>
                        <input class="input-main" type="text" name="authUrl" />
                    </div>
                    <div class="item">
                        <p class="item-p">Data</p>
                        <input class="input-main" type="text" name="data" />
                    </div>
                    <div class="item">
                        <p class="item-p">Crypto Method</p>
                        <input class="input-main" type="number" name="c_index" />
                    </div>
                    <div class="item">
                        <p class="item-p">Width</p>
                        <input class="input-main" type="number" name="width" />
                    </div>
                    <div class="item">
                        <p class="item-p">Height</p>
                        <input class="input-main" type="number" name="height" />
                    </div>
                </div>
                <div style="text-align: center;">
                    <button class="button-main" type="button" onclick="formValidCheck()">
                        QR 코드 생성
                    </button>
                    <!--<input class="button-main" type='submit' value='QR 코드 생성'>-->
                </div>
            </form>
        </div>
        <div class="divRight">
            <div>
                QR코드 암호화, 해시 방법 추가
                <form class="form-select" method="post" action="/addCrypto">
                    <select name="hash">
                        <option value="MD5">MD5</option>
                        <option value="SHA256">SHA256</option>
                        <option value="SHA512">SHA512</option>
                    </select>
                    <select name="crypto">
                        <option value="AES256">AES256</option>
                        <option value="RSA">RSA</option>
                    </select>
                    <input class="button-select" type="submit" value="추가하기" />
                </form>
            </div>
            Status
            <textarea id="secure-data" th:value="${cryptoStatus}" th:text="${cryptoStatus}" readonly></textarea>
            <hr>
            <div style="text-align: center;">
                <img id="qr-img" src="??" onError="this.src='/img/no-image.png'" onclick="imgChange()">
            </div>
            QR Data
            <div>
                <textarea id="qr-data" readonly>
{
}
                </textarea>
            </div>
        </div>
    </div>
    <script src="/js/validation.js"></script>
    <script src="/js/imgChange.js"></script>
</body>
</html>