<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>DEMO</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="divContainer">
        <div class="divLeft">
            <img class="sotree" src="/img/SoTree.png" alt="SoTree17"/>
            <form class="form-main">
                <div>
                    <div class="item">
                        <p class="item-p">Auth URL</p>
                        <input class="input-main" type="text" name="authUrl" />
                    </div>
                    <div class="item">
                        <p class="item-p">QR Data</p>
                        <input class="input-main" type="text" name="data" />
                    </div>
                    <div class="item">
                        <p class="item-p">Crypto Method</p>
                        <input class="input-main" type="number" name="c_index" />
                    </div>
                    <div class="item">
                        <p class="item-p">Width</p>
                        <input class="input-main" type="number" name="width" />
                    </div>
                    <div class="item">
                        <p class="item-p">Height</p>
                        <input class="input-main" type="number" name="height" />
                    </div>
                </div>
                <input type='submit' value='QR 코드 생성'>
            </form>
        </div>
        <div class="divRight">
            asdasdasd
        </div>
    </div>
</body>
</html>